<h1>All Articles</h1>

<ul id="tags">
  <% @tags.each do |tag| %>
    <li>
      <%= link_to tag.article, tag_path(tag)%>
      <%= link_to "delete", tag_path(@tag), method: :delete,
data: {confirm: "Are sure you want to delete this article?"} %>
    </li>
  <% end %>
</ul>
